<div class="animate__animated animate__fadeIn animate__faster">
    <h3>Search by region <small> {{ activatedRegion | titlecase }} </small></h3>
    <hr>

    <h5>Select a region</h5>

    <div class="row">
        <div class="col">
            <!-- [class.btn-primary]=" region === activatedRegion" -->
            <!-- [ngClass]="{
            'btn-primary': region === activatedRegion,
            'btn-outline-primary': region !== activatedRegion
        }" -->
            <button *ngFor="let region of regions" [class]=" getClass( region )" (click)="activeRegion( region )">
            {{ region | titlecase }}
        </button>

        </div>
    </div>
</div>
<hr>

<div *ngIf="countries.length > 0" class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>

    </div>
</div>